* {
  box-sizing: border-box;
}
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media-breakpoint-down($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @media (max-width: ($breakpoint-value - 0.02)) {
    @content;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.wrapper {
  width: 1440px;
  max-width: 100%;
  padding: 60px 64px;
  margin: 0 auto;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding: 40px 20px 60px;
  }
}
.section {
  background-color: $whitesmoke;
}
.title {
  display: inline-block;
  margin: 0 auto;
  color: $gray;
  font-size: 30px;
  padding-bottom: 25px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 20px;
    height: 2px;
    right: -20%;
    width: 50%;
    background-color: $lightan;
  }
  @include media-breakpoint-down(md){
    font-size:25px;
  }
}
.button {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  &__link {
    text-decoration: none;
    color: $gray;
    border: 1.5px solid $gray;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $tan;
      color: $white;
      border: 1.5px solid $tan;
    }
  }
}
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-auto {
  flex: auto;
}
.scroll-top {
  cursor: pointer;
  font-size: 30px;
  color: $tan;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.flex-md-wrap {
  @include media-breakpoint-down(md){
    flex-wrap: wrap;
  }
}
